
body{
    font-family: Verdana;
}
td, th {
    border: 1px solid black;
}
#verde {
    background-color: lightgreen;
}
#descans{
    padding: 15px;
    font-size: 20px;
}
.hora{
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.capçelera{
    padding: 30px;
    font-size: 25px;
}
table{
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#LMSGI{
    background-color: lightpink;
}
.P{
    background-color: lightslategray;
}
.IPO{
    background-color: red;
}
.BD{
    background-color: lightyellow;
}
#TUT{
   background-color: dodgerblue; 
}
#DIW{
    background-color: lightsalmon;
}
#AN{
    background-color: gold;
}
.SI{
    background-color: yellow;
}
h1{
    text-align: center;
    color: blue;
}
caption{
    text-align: center;
    color: gold;
    font-size: 20px;
}